{% extends "base.html" %}

{% load static %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6"> 
            <div class="card"> 
                <div class="card-body">

                    {% element h1 %}
                        <h1 class="text-center">{% trans "Sign Up" %}</h1>
                    {% endelement %}

                    {% setvar link %}
                        <a href="{{ login_url }}">
                    {% endsetvar %}
                    {% setvar end_link %}
                        </a>
                    {% endsetvar %}

                    {% element p %}
                        <p class="text-center">
                            {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
                        </p>
                    {% endelement %}

                    {% if not SOCIALACCOUNT_ONLY %}
                        {% url 'account_signup' as action_url %}
                        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                            {% slot body %}
                                {% csrf_token %}
                                <div class="mb-3"> 
                                    {% element fields form=form unlabeled=True %}
                                        {% for field in form %}
                                            <div class="form-floating">
                                                {{ field }}
                                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            </div>
                                        {% endfor %}
                                    {% endelement %}
                                </div>
                                {{ redirect_field }}
                            {% endslot %}

                            {% slot actions %}
                                <div class="d-grid gap-2">
                                    {% element button tags="prominent,signup" type="submit" %}
                                        <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
                                    {% endelement %}
                                </div>
                            {% endslot %}
                        {% endelement %}
                    {% endif %}

                    {% if SOCIALACCOUNT_ENABLED %}
                        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}