/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background: url('../images/cld-sample-4.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; /* Ensure body takes full height of viewport */
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

/* Header styles */
header {
    padding: 10px;
    color: #ffffff;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

/* Navigation styles */

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav {
    margin-top: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

nav ul li a:hover {
    background-color: #09f7bb;
    color: #fff;
}



/* Hero image section */
.hero-image {
    color: white;
    text-align: center;
    border: 5px solid #fff; /* White border around the hero image */
    border-radius: 15px; /* Rounded corners */
    margin: 0 auto; /* Center the hero image container */
    font-family: 'Poppins', sans-serif;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Main content styles */
main {
    flex: 1; /* Allows main content to grow and push footer down */
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px; /* Adjust width as needed */
  text-align: center;
}

.social-button i {
  margin-right: 5px; /* Space between icon and text */
  font-size: 18px; /* Adjust icon size if needed */
}


/* Additional utility styles */
.text-center {
    text-align: center;
}


.btn-primary {
    border-color: black;
    background-color: white;
    color: #291e1c;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn-danger {
    border-color: black;
    background-color: white;
    color: #291e1c;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #555; /* Slightly darker on hover */
    border-color: #555;
}

.card {
    padding: 10px;
    border: none; /* Remove default card border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.3s ease; /* Smooth hover effect */
}

.card:hover {
    transform: translateY(-3px);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    color: #666;
}

#booking-form {
    padding: 10px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }



  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
      min-width: none;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  