{% extends 'base.html' %}

{% load static %}

{% block title %}Booking Details{% endblock %}

{% block content %}
<div class="container my-5"> 
    <div class="row justify-content-center">
        <div class="col-md-6"> 
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center mb-4">Booking Details</h1> 
                    <h5 class="card-title">Booking #{{ booking.id }}</h5>
                    <p class="card-text">
                        <strong>Table:</strong> {{ booking.table }}<br>
                        <strong>Date:</strong> {{ booking.date }}<br>
                        <strong>Time:</strong> {{ booking.time }}<br>
                        <strong>Number of Guests:</strong> {{ booking.number_of_guests }}
                    </p>

                    <div class="d-flex justify-content-center gap-3"> 
                        <a href="{% url 'edit_booking' booking.id %}" class="btn btn-primary">Edit Booking</a>
                        <a href="{% url 'delete_booking' booking.id %}" class="btn btn-danger">Cancel Booking</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}