{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container text-center my-5"> 
    <h1 class="mb-4 card">Menu</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4"> 
        {% for item in menu_items %}
        <div class="col">
            <div class="card h-100"> 
                <div class="card-body d-flex flex-column"> 
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text flex-grow-1">{{ item.description }}</p> 
                    <p class="card-text">Price: ${{ item.price }}</p>
                    <p class="card-text">Category: {{ item.category }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="mt-4">
        <a href="{% url 'make_booking' %}" class="btn btn-primary">Book a Table</a>
    </div>
</div>
{% endblock %}